.tab-button {
  padding: 6px 10px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border: 1px solid #CCCCCC;
  cursor: pointer;
  background: #F0F0F0;
  margin-bottom: -1px;
  margin-right: -1px;
}

.tab-button:hover {
  background: #E0E0E0;
}

.tab-button.active {
  background: #E0E0E0;
}

.tab {
  border: 1px solid #CCCCCC;
  padding: 10px;
}
